@{
    Layout = null;
}

@model ProductVM

<head>
    <link rel="stylesheet" href="~/css/details.css" />
</head>

<div class="product-container">
    <div class="product-card">
        <h1 class="product-title">@Model.ProductName</h1>
        <h2 class="product-category">Kategori: @Model.CategoryName</h2>
        <p class="product-price">Fiyat: @Model.Price ₺</p>
        <p class="product-stock">Stok Miktarı: @Model.StockAmount</p>

        <div class="product-buttons">
            @Html.ActionLink("Güncelle", "Update", new { id = Model.Id }, new { @class = "btn-update" })
            @Html.ActionLink("Sil", "Delete", new { id = Model.Id }, new { @class = "btn-delete" })
        </div>
    </div>
</div>
