

@model List<ProductVM>

<link href="~/css/Asssaassssas.css" rel="stylesheet" />

@*


<header>

    <img src="~/images/AlgenaLogo.jpg" alt="Logo" height="200px" width="350px">

</header> 


*@

<div id="container">
    
    @foreach (ProductVM productVM in Model)
    {
        <a href="/Product/Details/@productVM.Id">
            <div class="container-1" style="background-color:#00d4ff">
                <img src="~/images/AlgenaLogo.jpg" alt="Logo" height="200px" width="350px" />
                <h1><strong>@productVM.ProductName</strong></h1>
                <h2>@productVM.CategoryName</h2>
                <h3>@productVM.Price TL</h3>
                <h3>@productVM.StockAmount</h3>
            </div>
        </a>
        @Html.ActionLink("Sepete Ekle","AddBasketItem","Basket", new { ProductId = productVM.Id, ProductName = productVM.ProductName, CategoryName = productVM.CategoryName, Quantity = 1, Price = productVM.Price });
    }

</div>

@* <footer class="ftr"></footer> *@
