@{
    Layout = null;
}


@model ProductVM

<link href="~/css/Denek.css" rel="stylesheet" />

@* <header>
    <img src="~/images/AlgenaLogo.jpg" alt="Algena Logo" height="150px">
</header> *@

<div class="card-ekleme">
    <h3 class="title">Ürün Güncelle</h3>
    <form asp-action="Update" method="post">

        <label>Kategori :</label>
        <select name="CategoryId">
            @foreach (CategoryDto categoryDto in (ViewBag.Categories as List<CategoryDto>))
            {
                <option value="@categoryDto.Id">@categoryDto.CategoryName</option>
            }
        </select>

        <label>Ürün Adı :</label>
        <input type="text" value="@Model.ProductName" name="ProductName">

        <label>Stok Adeti :</label>
        <input type="text" value="@Model.StockAmount" name="StockAmount">

        <label>Fiyat :</label>
        <input type="text" value="@Model.Price" name="Price">

        <button>Güncelle</button>

    </form>
</div>
