@using Algena.WebUI.BasketTransaction.BasketModels
@model Basket

@{
    Layout = null;
}


<head>
    <link rel="stylesheet" href="~/css/Sepet.css" />
</head>


<div class="basket-container">
    <h1 class="basket-title">Sepetiniz</h1>

    @if (ViewBag.Message is not null)
    {
        <h2 class="basket-status">Sipariş Durumu: @ViewBag.Message</h2>
    }

    <div class="basket-items">
        @foreach (BasketItem basketItem in Model.BasketItems)
        {
            <div class="basket-item">
                <h3 class="item-name">@basketItem.ProductName</h3>
                <p class="item-category">@basketItem.CategoryName</p>
                <p class="item-quantity">Adet: @basketItem.Quantity</p>
                <p class="item-price">Fiyat: @basketItem.Price TL</p>
                <div class="item-buttons">
                    @Html.ActionLink("+", "Increase", new { id = basketItem.ProductId }, new { @class = "btn btn-increase" })
                    @Html.ActionLink("-", "Decrease", new { id = basketItem.ProductId }, new { @class = "btn btn-decrease" })
                    @Html.ActionLink("Sepetten Sil", "RemoveItem", new { id = basketItem.ProductId }, new { @class = "btn btn-remove" })
                </div>
            </div>
        }
    </div>

    <div class="basket-summary">
        <h2 class="total-price">Toplam Fiyat: @Model.TotalPrice TL</h2>
        <div class="summary-buttons">
            @Html.ActionLink("Sepeti Sil", "RemoveBasket", null, new { @class = "btn btn-clear" })
            @Html.ActionLink("Sepeti Onayla", "Index", "Order", new { @class = "btn btn-confirm" })
        </div>
    </div>
</div>
